* {
  box-sizing: border-box;
}

header {
  background-color: #16243d;
  color: #97a2b7;
  padding: 10px 0;
  font-size: 13px;
}

header p {
  margin-bottom: 0 !important;
}

a[href^='mailto'] {
  text-decoration: none;
  color: inherit;
}

a[href^='mailto']:hover {
  color: #015fc9;
}

.mfa-icon {
  padding-left: 210px;
}

.bg-light {
  background-color: white !important;
}

.bg-col {
  background-color: #f2f5f9 !important;
  color: #212529;
  border-radius: 6px;
}

.mfa {
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
}

.fa-brands {
  padding: 0 15px;
  color: white;
  font-size: 16px;
}

.icon {
  margin-left: 25px;
}

.logo {
  padding: 10px 0;
}

.btn {
  padding: 0;
  border-radius: 0px 6px 6px 0px;
}

.btn:hover {
  background-color: black;
  color: white!important;
}

.call{
  width: 10px;
  height: 10px;
  border: 1px solid ;
  border-radius: 100%;
}
