* {
  box-sizing: border-box;
}


header{
  background-color: #16243d;
  color: #97a2b7;
  padding: 10px 0;
  font-size: 13px;
}

header p{
  margin-bottom: 0!important;
}

a[href^='mailto']{
  text-decoration: none;
  color: inherit;
}

a[href^='mailto']:hover{
  color: #015fc9;
}

.faq{
  padding: 0;
}