* {
  box-sizing: border-box;
}

header {
  background-color: #16243d;
  color: #97a2b7;
  padding: 10px 0;
  font-size: 13px;
}

header p {
  margin-bottom: 0 !important;
}

a[href^='mailto'] {
  text-decoration: none;
  color: inherit;
}

a[href^='mailto']:hover {
  color: #015fc9;
}

.mfa-icon {
  padding-left: 210px;
}

.bg-col {
  background-color: #f2f5f9 !important;
  color: #212529;
  border-radius: 6px;
}

.mfa {
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
}

.fa-brands {
  padding: 0 15px;
  color: white;
  font-size: 16px;
}

.icon {
  margin-left: 25px;
}

.logo {
  padding: 10px 0;
}

.btn {

  padding: 0;
  border-radius: 0px 6px 6px 0px;
}

header .fa-solid{
  color: #015fc9;
}
.navbar {
  padding: 30px 0;
}

.nav-link {
  padding: 18px 24px !important;
  font-weight: 600;
}
.logo {
  margin-right: 70px;
}

.bg-light {
  background-color: #fff !important;
}

.nav-item .btn-primary {
  color: #ffff !important;
  background-color: #015fc9;
}
.nav-item .btn-primary:hover {
  color: #ffff !important;
  background-color: black;
}

.nav-link .fa-solid{
  border-left: 1px solid rgb(160, 160, 160);
  padding-left: 6px;
}

.phone-icon {
  color: #0ce0ff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  border: 2px solid #97a2b7;
  text-align: center;
  font-size: 20px;
  margin-right: 20px;
}

.phone-icon:hover{
  background-color: #015fc9;
}

.phone {
  color: #16243d;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
.navbar-right {
  margin-right: 20px;
}


